  /* Navbar Styling */
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 24px;
      background-color: #23272f;
      position: sticky;
      top: 0;
      border-bottom: 1px solid #343a46;
    }
    .navLeft {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    .versionText {
      color: #99a1b3;
      font-size: 14px;
      font-weight: 500;
    }
    .searchBox {
      background-color: #343a46;
      border-radius: 20px;
      padding: 7px 14px;
      display: flex;
      align-items: center;
      gap: 10px;
      width: 50vw;
      margin-left: 10px;
    }
    .searchInput {
      background: none;
      border: none;
      color: white;
      font-size: 14px;
      outline: none;
      width: 100%;
    }
    .shortcut {
      font-size: 11px;
      background-color: #404756;
      padding: 5px 6px;
      border-radius: 4px;
      color: #99a1b3;
      white-space: nowrap;
    }
    .navRight {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .navLink {
      color: #ebedf0;
      text-decoration: none;
      font-size: 15px;
      font-weight: 500;
    }
    .iconGroup {
      display: flex;
      gap: 15px;
      margin-left: 15px;
      border-left: 1px solid #343a46;
      padding-left: 15px;
    }
    